iilib==0.1.27
Flask-SQLAlchemy
sqlalchemy
PyPDF2
pdfminer.six
openai==0.28
requests
watchdog
psycopg2-binary
reportlab
prometheus-flask-exporter
prometheus_client
pytest
Werkzeug
flask
boto3
pika
PyMuPDF
Pillow